<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <script src="static/js/angular.min.js"></script>
    <script> {% include 'js/angular.js' %} </script>

    <title> Inventory System </title>

</head>
<style>
@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}
    h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}
 table {
  border-radius: .4em;
  overflow: hidden;
  tr {
    border-color: lighten(#34495E, 10%);
  }
}
button {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19;
}

</style>
<body ng-controller="HomeCtrl">

    <div class="container">
        <div class="header clearfix">
            <h3><b> Inventory System </b></h3>
        </div>

        <div class="bs-example" data-example-id="panel-without-body-with-table">

            <div class="panel panel-default">

            <!-- Upper toolbar that allows Search, Home, Cart routes -->
                <div class="panel-heading"> 
                    <b> {{ "{{ title }}" }} </b>
                    <div style="float: right;"> 
                        <select ng-model="option"> <!-- Added selecting option for category -->
                    		<option value="All" selected> All </option>
                    		<option value="Mobile"> Mobile </option>
                    		<option value="Laptop"> Laptop </option>
                    		<option value="Accessories"> Accessories </option>
                    	</select>
                        <button type="submit" class="btn btn-primary" style="font-size: 0.72em;" ng-click="searchBar()"> Search </button>
                        <button type="submit" class="btn btn-primary" style="font-size: 0.72em;" ng-click="tableMain()"> Home </button>
                        <button type="submit" class="btn btn-primary" style="font-size: 0.72em;" ng-click="tableCart()"> Cart </button>
                    </div> 
                </div>

                <!-- Main table to show items available for purchase -->
                <table class="table table-sieve" ng-if="tableMain1 == 1">

                    <thead>

                        <tr>
                        <th>#</th>
                        <th>Item name</th>
                        <th>Category</th>
                        <th>In Stock</th>
                        <th>Price (for each)</th>
                        <th> Quantity </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        </tr>

                    </thead>

                    <tbody>

                        <!-- If the quantity of an item goes to zero, its removed from table since it became out of stock -->
                        <tr ng-repeat="i in items track by $index" ng-if="(i.itemquantity > 0 && i.itemcategory == option) || (i.itemquantity > 0 && option == 'All')"> <!-- Added if condition to display only selected category -->

                            <th scope="row">{{ '{{$index+1}}' }}</th>
                            <td>{{ '{{i.itemname}}' }}</td>
                            <td>{{ '{{i.itemcategory}}' }}</td>
                            <td> {{ '{{i.itemquantity}}' }}</td>
                            <td>₹{{ '{{i.price | number:0}}' }}</td>
                            <td>
                                <div>
                                    <button ng-click="decrease_qt_value(i,0)"> - </button> 
                                    <input style="width: 30px;" ng-model="i.tempqtvalue"> </input> 
                                    <button ng-click="increase_qt_value(i,0)"> + </button>
                                </div>
                            </td>
                            <td><span style="cursor:pointer;color:#e43309;" ng-click="addToCart(i)" class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>

                        </tr>

                    </tbody>
                </table>

                <!-- Cart table, to show what is being added to Cart -->
                <table class="table" ng-if="tableMain1 != 1">

                    <thead>

                        <tr>
                        <th>Item name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th></th>
                        </tr>

                    </thead>

                    <tbody>

                        <tr ng-repeat="i in cart">

                            <td>{{ '{{i.itemname}}' }}</td>
                            <td>{{ '{{i.itemcategory}}' }}</td>
                            <td>
                                <div>
                                    <button ng-click="decreaseFromCart(i)"> - </button> 
                                    <input style="width: 30px;" ng-model="i.qt_value"> </input> 
                                    <button ng-click="increaseFromCart(i)"> + </button>
                                </div>
                            </td>
                            <td> {{ '{{ i.qt_value * i.price }}' }}</td>
                            
                            <td><span style="cursor:pointer;color:#e43309;" ng-click="confirmdelete(i)" class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>

                        </tr>
                    </tbody>
                </table>

                <div class="panel panel-footer"  ng-if="tableMain1 != 1" style="margin-bottom: 0px;">
                    <b>Summary: </b>
                    <div style="float: right; width: 230px;">
                        <b> Total: </b>
                        <b> {{ "{{ total }}" }} </b>
                        <button type="submit" class="btn btn-primary" style="font-size: 0.70em;float: right;" ng-click="checkout()"> Checkout </button>
                    </div>
                </div>

            </div>
        </div>
        
        
        {# For deleting a data, opens a modal to confirm #}
        <div id="deleteconfirm" class="modal fade bs-example-modal-md in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myLargeModalLabel">You are about to delete this entry. Do you want to proceed ?</h4> 
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" ng-click="deleteitem()" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        {# Empty Cart Modal to route to Main page #}
        <div id="emptyCart" class="modal fade bs-example-modal-md in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myLargeModalLabel"> Maybe you spilled items from cart :p</h4> 
                    </div>

                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                        <button type="button" ng-click="tableMain()" class="btn btn-primary"> Home </button>
                    </div>
                </div>
            </div>
        </div>

        {# For checkout open a modal #}
        <div id="checkingOut" class="modal fade bs-example-modal-md in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myLargeModalLabel"> You are about to purchase {{"{{cart.length}}"}} items</h4> 
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" ng-click="checkoutFinal()" class="btn btn-primary">Purchase</button>
                    </div>
                </div>
            </div>
        </div>

        {# Same element in cart modal #}
        <div id="sameInCart" class="modal fade bs-example-modal-md in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myLargeModalLabel"> Its in cart already, Change it from there!</h4> 
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Stay here!</button>
                        <button type="button" ng-click="tableCart()" class="btn btn-primary">Go to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquerymin.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    {# Script for the search box #}
    <script>
        var searchTemplate = "<div class='row form-inline'><label style='float: right; width:240px ; padding:3px;'><input type='text' class='form-control' placeholder='Search' id='searchBar'></label></div>"
        $(".table-sieve").sieve({ searchTemplate: searchTemplate });
        searchTemplate = "<div class='row form-inline'><label style='float: right;'>Find a Quote: <input type='text'  class='form-control' placeholder='(try typing &quot;einstein&quot;)'></label></div>"
        $(".p-sieve").sieve({ searchTemplate: searchTemplate, itemSelector: "p" });
    </script>

    {# Not working search bar coz google-analytics.com/ga.js refused permission! #}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-604149-6']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>

</html>
